html
    head
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js") 
        link(rel="stylesheet", href="style/style.css")
    body 
        .outter 
            g 
                .des.hover -
                .num 12
                .plu.hover +
            .alert 賣得不錯喔!!
            .call 請點此連絡廠商預約存貨
        script(src="./script/script.js",) 