@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

.outter {
  width: 400px;
  border: solid 3px #ccc;
  color: #ccc;
  border-radius: 10px;
  overflow: hidden;
}

g {
  display: flex;
  height: 140px;
  box-sizing: border-box;
  flex: 1;
}
g .des, g .num, g .plu {
  margin: 10px;
  padding-top: 10px;
  font-size: 70px;
  text-align: center;
}
g .des {
  flex: 1;
  cursor: pointer;
}
g .num {
  flex: 2;
}
g .plu {
  flex: 1;
  cursor: pointer;
}

.alert, .call {
  text-align: center;
  font-size: 25px;
  transition: 0.5s;
}

.alert {
  border-bottom: 20px solid;
  color: yellow;
  padding-bottom: 0px;
  height: 50px;
}

.call {
  padding: 0px 0px;
  overflow: hidden;
  height: 0px;
  cursor: pointer;
}